---
---
{% if site.github.repository_name %}
    {% assign base_url = '//' | append: site.github.owner_name | append: '.github.io/' | append: site.github.repository_name %}
{% endif %}
/* UCSF banner navigation */
.ucsf-banner-nav {
    background: none repeat scroll 0 0 #052049;
    color: #fff;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    overflow: hidden;
    width: 100%;
}

.ucsf-banner-nav ul {
    left: -10px;
    margin: 0 auto;
    max-width: 940px;
    padding-left: 20px;
    position: relative;
}

.ucsf-banner-nav li {
    line-height: 1em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #fff;
    display: inline;
    font-size: 0.75em;
}

.ucsf-banner-nav a {
    color: #fff;
    margin: 0 0.5em;
    padding: 9px 0.5em 0 0;
    white-space: nowrap;
}
.ucsf-banner-nav a:link,
.ucsf-banner-nav a:visited,
.ucsf-banner-nav a:focus,
.ucsf-banner-nav a:active {
    text-decoration: none;
}

.ucsf-banner-nav a:hover {
    text-decoration: underline;
}


.ucsf-banner-nav li:before {
    content: "";
}

.ucsf-banner-nav li:first-child a {
    background: url("{{ base_url }}/img/banner-nav-ucsf-logo.png") no-repeat scroll left 3px transparent;
    display: inline-block;
    margin-left: 0;
    min-height: 20px;
    padding-left: 5.5em;
}

.ucsf-banner-nav li:last-child {
    border-right: 0;
}

#ucsf-banner-nav-mobile {
    display: none;
}

/* UCSF footer */
.ucsf-footer {
    background-color:#052049;
    color: #fff;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    float: left;
}

.ucsf-footer a {
    color: #fff;
    text-decoration: underline;
}

.ucsf-footer div {
    margin:10px auto;
    text-align:left;
    padding-left: 20px;
    left: -10px;
    max-width: 940px;
}

#ucsf-footer-mobile {
    display: none;
}

/* hide localist footer */
#lclst_footer {
    display: none;
}

/* media queries */
@media only screen and (max-width: 767px) {

    #ucsf-banner-nav-mobile,
    #ucsf-footer-mobile {
        display: block;
    }

    #ucsf-banner-nav,
    #ucsf-footer {
        display: none;
    }
}
