@import "node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "variables";
@import "ucsf-navigation";
@import "ucsf-footer";

// {% if site.github.repository_name %}
// {% assign base_url = '//' | append: site.github.owner_name | append: '.github.io/' | append: site.github.repository_name %}
// {% endif %}

body {
  font-family: "Helvetica Neue", helvetica, "arial", sans-serif;
  margin: 0;
}
body>.grid_container {
  margin-top: 0;
}
#top {
  background: #fff;
  border-bottom: 1px solid #e1eaf0;
  position: relative;

  &::after {

  }
}

/* Colors */

#ucsf-banner-nav.arial {
    font-family: arial,sans-serif;
}

#ucsf-banner-nav.teal {
    background: #18a3ac;
}

#ucsf-banner-nav.green {
    background: #90bd31;
}

#ucsf-banner-nav.light-blue {
    background: #178ccb;
}

#ucsf-banner-nav.orange {
    background: #f48024;
}

#ucsf-banner-nav.grey {
    background: #b4b9bf;
}

#ucsf-banner-nav.purple {
    background: #716fb2;
}

#ucsf-banner-nav.red {
    background: #ec1848;
}

#ucsf-banner-nav.yellow {
    background: #ffdd00;
}

#ucsf-banner-nav.white {
    background: #ffffff;
}

.background--dark {
  background-color: map-get($ucsf-branding-dark, "background");
}

#ucsf-banner-nav.yellow a,#ucsf-banner-nav.white a {
    color: #000000;
}



/* hide localist footer */
#lclst_footer {
    display: none;
}

#comments
{ display: none; }

div.nocontent
{ display: none; }
a.add_comment_button
{ display: none; }
a.add_review_button
{ display: none; }
a.add_photo_button
{ display: none; }
#menu {
  float: right;
  margin: 30px 0 0 0;
}
#top .home_link {
  font-family: map-get($ucsf-branding, "font");
  color: map-get($ucsf-branding, "font-color");;
  font-weight: 300;
  font-size: 20px;
  padding: 40px 15px 40px 0;
  text-decoration: none;
}
#menu ul
{
  padding: 5px;
  float: left;
}
#top div a
{
  float: left;
}
#x-section-tab-buttons
{padding-top: 20px; }
#wrapper div.grid_4.omega.sidebar
{padding-top: 20px; }



#top .search_action {
    width: 33.33333%;
    padding: 0;
    height: 31px;
    float: right;
    margin: 40px 0 0 0;
    position: relative;
}
#top .search_action input {
    background: transparent;
    color: rgba(84,110,122,0.5);
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid rgba(84,110,122,0.5);
    padding: 5px 0px;
    margin-bottom: 0;
    width: 85%;
    outline: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 0;
}
#top .search_action button {
    background: none;
    border: 0;
    color: #546e7a;
    position: absolute;
    right: 0;
    top: auto;
    margin: 0;
    padding-right: 0;
}
@media only screen and (max-width: 959px) {
  #top .search_action {
      display: block;
  }

  #menu {
      float: none;
  }

  #menu .nav-button {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 64px;
      padding: 50px 20px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .grid_container .grid_1, .grid_container .grid_2, .grid_container .grid_3, .grid_container .grid_4,
  .grid_container .grid_5, .grid_container .grid_6, .grid_container .grid_7, .grid_container .grid_8,
  .grid_container .grid_9, .grid_container .grid_10, .grid_container .grid_11, .grid_container .grid_12,
  .grid_container .grid_13, .grid_container .grid_14, .grid_container .grid_15, .grid_container .grid_16 {
      margin: 0;
      width: 100%;
  }
}

// Width that matches UCSF universal header and footer
.wrapper {
  // width: calc(100% - #{$container-gutter-combined} + #{$localist-grid-gutter-combined}) !important;
  width: calc(100% - 6% + 35px) !important;
}
.content-top .box_image {
  text-align: center;
}
.content-top .box_image img  {
  max-width: 200px;
  margin: 0 auto;
}

.l-container {
  padding: 0 $container-gutter;
}